<!doctype html>
<html manifest="manifest.appcache">
  <head>
    <title><%= data.programme.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="images/icon-60@3x.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/icon-60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icon-72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/icon-120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/icon-144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/icon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/icon-180.png">
    <%= stylesheet_link_tag "all", :relative => true %>
  </head>
  <body>
    <% data.programme.days.each_with_index do |day, index| %>
      <section id=day<%=index%>>
        <header><h1><%=day_for day.date%></h1></header>
	<% day.items.each do |item| %>
	  <article id=<%=item.id%>>
	    <h2 alt="<%=item.name%>"><%=item.name%></h2>
	    <p class=time>
	      <time class=start datetime="<%=start_date day, item %>"><%=item.start_label || item.start%></time>
	      &ndash;
	      <time class=end datetime="<%=end_date day, item %>"><%=item.end_label || item.end%></time>
	    </p>
	    <% if item.room %><p class=room><%=item.room%></p><% end %>
	    <% if item.id %><a class="bkmk" href="#"></a><% end %>
	  </article>
	<% end %>
      </section>
    <% end %>
    <%= javascript_include_tag "all", :relative => true %>
  </body>
</html>
